<div class="card">
  <img src="/assets/images/male.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Monkey D. Luffy</b></h4>
    
  </div>
</div>
<div class="card">
  <img src="/assets/images/male.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Monkey D. Luffy</b></h4>
    
  </div>
</div>
<div class="card">
  <img src="/assets/images/male.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Monkey D. Luffy</b></h4>
    
  </div>
</div>

<div class="card">
  <img src="/assets/images/male.png" alt="Avatar" style="width:25%">
  <div class="container">
    <h4><b>Monkey D. Luffy</b></h4>
    
  </div>
</div>