<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sidenav.component.scss">
    <title>Sidebar Navigation</title>
</head>
<body>
    <nav class="sidenav">
        <div class="sidenav-logo">
            <img src="/assets/images/logo1.png" alt="Logo" class="logosize">
        </div>
        <ul class="sidenav-menu">
            <li><a href="#">Dashboard</a></li>
            <br>
            <li><a href="manage/teachers">Teachers</a></li>
            <br>
            <li><a href="manage/students">Students</a></li>
        </ul>
        <div class="sidenav-bottom">
            <ul class="sidenav-menu">
                <li><a href="#">Settings</a></li>
                <br>
                <li><a href="login">Logout</a></li>
            </ul>
        </div>
    </nav>
   <div class="main"></div>
</body>
</html>
